.grid {
  z-index: 9999;
  pointer-events: none;
  background-image: linear-gradient(to right, #0000 10px, #ff00001a 1px);
  background-position: -10px 0;
  background-size: calc(50% + 5px);
  display: none;
  position: fixed;
  inset: 0 15px;
}

@media (width <= 767px) {
  .grid {
    margin: 0 auto;
  }
}

@media (width >= 768px) {
  .grid {
    background-image: linear-gradient(to right, #0000 30px, #ff00001a 1px);
    background-position: -15px 0;
    background-size: 120px;
    width: 720px;
    left: 50%;
    right: auto;
    transform: translateX(-50%);
  }
}

@media (width >= 1000px) {
  .grid {
    background-size: 80px;
    width: 960px;
  }
}

.grid_visible {
  display: block;
}

html {
  -webkit-text-size-adjust: 100%;
  line-height: 1.15;
}

body {
  margin: 0;
}

main {
  display: block;
}

h1 {
  margin: .67em 0;
  font-size: 2em;
}

hr {
  box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace;
  font-size: 1em;
}

a {
  background-color: #0000;
}

abbr[title] {
  border-bottom: none;
  -webkit-text-decoration: underline dotted;
  text-decoration: underline dotted;
}

b, strong {
  font-weight: bolder;
}

code, kbd, samp {
  font-family: monospace;
  font-size: 1em;
}

small {
  font-size: 80%;
}

sub, sup {
  vertical-align: baseline;
  font-size: 75%;
  line-height: 0;
  position: relative;
}

sub {
  bottom: -.25em;
}

sup {
  top: -.5em;
}

img {
  border-style: none;
}

button, input, optgroup, select, textarea {
  margin: 0;
  font-family: inherit;
  font-size: 100%;
  line-height: 1.15;
}

button, input {
  overflow: visible;
}

button, select {
  text-transform: none;
}

button, [type="button"], [type="reset"], [type="submit"] {
  -webkit-appearance: button;
}

button::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

[type="button"]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

[type="reset"]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring {
  outline: 1px dotted ButtonText;
}

[type="button"]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

[type="reset"]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: .35em .75em .625em;
}

legend {
  box-sizing: border-box;
  color: inherit;
  white-space: normal;
  max-width: 100%;
  padding: 0;
  display: table;
}

progress {
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type="checkbox"], [type="radio"] {
  box-sizing: border-box;
  padding: 0;
}

[type="number"]::-webkit-inner-spin-button {
  height: auto;
}

[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

[type="search"] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details {
  display: block;
}

summary {
  display: list-item;
}

template, [hidden] {
  display: none;
}

:root {
  --min-width: 768px;
  --text-color: #333;
}

* {
  box-sizing: border-box;
}

body {
  color: var(--text-color);
  font: 14px / 1.2 Arial, sans-serif;
}

.container {
  box-sizing: border-box;
  width: 100%;
  max-width: 930px;
  margin: 0 auto;
  padding: 0 16px;
}

@font-face {
  font-family: Novelist;
  src: url("Novelist.83f2e741.otf");
}

h1, h2, h3, h4 {
  font-family: Roboto Condensed, serif;
  font-weight: 400;
}

h2 {
  font-size: 20px;
  line-height: 1.2;
}

@media (width >= 768px) {
  h2 {
    font-size: 30px;
    line-height: 37px;
  }
}

h4 {
  font-size: 16px;
  font-weight: bold;
  line-height: 19px;
}

.header {
  background-color: #212122;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 60px;
  display: flex;
}

.header__container {
  justify-content: space-between;
  align-items: center;
  width: 100%;
  display: flex;
}

.header__button {
  border: 0;
  width: 30px;
  height: 30px;
  margin-right: 20px;
  font-size: 0;
}

.header__button:last-of-type {
  margin-right: 0;
}

.header__button_search {
  background: url("search.0bb8c215.svg");
}

.header__button_menu {
  background: url("menu.e83ea243.svg");
}

.header__button_profile {
  background: url("profile.bc0aefe0.svg");
}

.menu-desktop {
  display: none;
}

@media (width >= 768px) {
  .menu-desktop {
    margin: 0 auto 0 20px;
    display: block;
  }
}

.menu-desktop-link {
  color: #fff;
  margin-right: 20px;
  text-decoration: none;
}

.menu-desktop-link:last-of-type {
  margin-right: 0;
}

@media (width >= 768px) {
  .menu-mobile {
    display: none;
  }
}

.menu-desktop-buttons {
  display: none;
}

@media (width >= 768px) {
  .menu-desktop-buttons {
    align-items: center;
    gap: 20px;
    display: flex;
  }
}

.button-search {
  background: url("search.0bb8c215.svg");
  border: none;
  width: 30px;
  height: 30px;
}

.button-sigin {
  color: #fff;
  background: none;
  border: 1px solid #cccccc80;
  border-radius: 61px;
  height: 36px;
  padding: 9px 15px;
}

.catalog {
  grid-template-columns: 1fr 1fr;
  gap: 20px 10px;
  width: 100%;
  display: grid;
}

@media (width >= 768px) {
  .catalog {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

.card {
  position: relative;
}

.card__img {
  width: 100%;
}

.card__price {
  text-align: center;
}

.card__price-old {
  color: #aeb5b9;
  text-decoration: line-through;
}

.card__name {
  text-align: center;
  margin: 10px 0;
}

.card__sale {
  background-image: url("sale.bb14cb6a.png");
  background-size: cover;
  width: 30px;
  height: 30px;
  position: absolute;
  top: 10px;
  left: 10px;
}

.order {
  background-color: #fff;
  display: none;
  position: absolute;
  inset: 0;
}

.order__input {
  width: 100%;
  margin-bottom: 10px;
  display: block;
}

.input-text {
  box-sizing: border-box;
  border: 1px solid #dfdedd;
  outline: none;
  height: 38px;
  padding: 9px 10px;
}

.input-text:focus {
  border-color: #0f8fee;
}

.button {
  color: #fff;
  background-color: #0f8fee;
  border: none;
  border-radius: 4px;
  height: 38px;
}

.button:active {
  transform: translateY(2px);
}

.order__button {
  width: 100%;
}

/*# sourceMappingURL=index.d2908973.css.map */
